<h1>{{title}} - main component</h1>

<input type="button" value="Exemplo" (click)="exibirComponente('exemplo')">
<input type="button" value="Ex1" (click)="exibirComponente('ex1')">
<input type="button" value="Ex2" (click)="exibirComponente('ex2')">
<input type="button" value="Ex3" (click)="exibirComponente('ex3')">
<input type="button" value="Ex4" (click)="exibirComponente('ex4')">
<input type="button" value="Ex5" (click)="exibirComponente('ex5')">
<input type="button" value="Ex6" (click)="exibirComponente('ex6')">
<input type="button" value="Ex7" (click)="exibirComponente('ex7')">
<input type="button" value="Ex8" (click)="exibirComponente('ex8')">
<input type="button" value="Ex9" (click)="exibirComponente('ex9')">
<input type="button" value="Ex10" (click)="exibirComponente('ex10')">
<input type="button" value="Ex11" (click)="exibirComponente('ex11')">

<app-sobre></app-sobre>
