<h2>Ex20</h2>
<input type="text" [(ngModel)]="nome">
<ul [ngSwitch] = "nome">
  <li *ngSwitchCase = " 'Qualquer coisa' "> <a href="https://www.youtube.com/channel/UCssZJ9qFKsMC5lgAsgnLfGg">Qualquer coisa</a></li>
  <li *ngSwitchCase = " 'Start Game' ">     <a href="https://www.youtube.com/channel/UCVU6blVqdA5-0Ez2m3PJdqg">Start Game</a></li>
  <li *ngSwitchCase = " 'Ink Ribbon' ">     <a href="https://www.youtube.com/channel/UCuk-vTs6rUGCkSGK3cj1Q7Q">Ink Ribbon</a></li>
  <li *ngSwitchDefault> <a href="https://www.youtube.com">Não encontrado</a></li>
</ul>

