<h1>{{title}} - main component</h1>

<input type="button" value="Ex1" (click)="exibirComponente('ex1')">
<input type="button" value="Ex2" (click)="exibirComponente('ex2')">
<input type="button" value="Ex3" (click)="exibirComponente('ex3')">
<input type="button" value="Ex4" (click)="exibirComponente('ex4')">
<input type="button" value="Ex5" (click)="exibirComponente('ex5')">
<input type="button" value="Ex6" (click)="exibirComponente('ex6')">
<input type="button" value="Ex7" (click)="exibirComponente('ex7')">
<input type="button" value="Ex8" (click)="exibirComponente('ex8')">
<input type="button" value="Ex9" (click)="exibirComponente('ex9')">

<!-- ngIF -->
<app-ex1 *ngIf="componenteAtual === 'ex1'"></app-ex1>
<app-ex2 *ngIf="componenteAtual === 'ex2'"></app-ex2>
<app-ex3 *ngIf="componenteAtual === 'ex3'"></app-ex3>
<app-ex4 *ngIf="componenteAtual === 'ex4'"></app-ex4>
<app-ex5 *ngIf="componenteAtual === 'ex5'"></app-ex5>
<app-ex6 *ngIf="componenteAtual === 'ex6'"></app-ex6>
<app-ex7 *ngIf="componenteAtual === 'ex7'"></app-ex7>
<app-ex8 *ngIf="componenteAtual === 'ex8'"></app-ex8>
<app-ex9 *ngIf="componenteAtual === 'ex9'"></app-ex9>
<app-sobre></app-sobre>
